SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=SERVER_IP
CSRF_TRUSTED_ORIGINS=http://SERVER_IP

DB_NAME=portfolio
DB_USER=portfolio
DB_PASSWORD=
PROXY_NETWORK_NAME=proxy_network
# Used only when Nginx runs directly on the host.
MHESHAM_HOST_PORT=8001

SERVE_MEDIA=True
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
TRUST_X_FORWARDED_PROTO=True
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False

DEFAULT_FROM_EMAIL=portfolio@example.com
CONTACT_NOTIFICATION_EMAIL=eng.mo.hesham22@gmail.com
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
